*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Poppin', sans-serif;
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%) ;
}

label { 
    display: none;
}

input {
    width: 100%;
    margin: 0.5em 0;
    padding: 1em;
    font-weight: 600;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 0.5em;
}

input:focus {
    outline-color: hsl(249, 10%, 26%);
}

::placeholder {
    color: hsl(249, 10%, 26%);
    font-weight: 400;
    padding-left: 1em;

}

footer{
    display: none;
}

.container { 
    width: 70%;
    max-width: 22rem;
    margin: 0 auto;
    padding: 2em 2em;
}

.lead, .trial {
    text-align: center;
    color: white;
}

.lead__heading {
    font-weight: 600;

}

.lead__text{
    margin: 1.5em 0 3em 0;
    line-height: 1.5rem;
}

.trial__btn {
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: hsl(248, 32%, 49%);
    border-radius: 0.5rem;
    border: none;
    padding: 2em 4em;
    width: 100%;
    box-shadow: 0 3px 5px hsl(249, 10%, 26%);
    line-height: 1.3rem;
}

form { 
    margin-top: 1.5em;
    background-color: white;
    border-radius: 0.5em;
    border-color: hsl(246, 25%, 77%);
    padding: 2em;
    color: hsl(246, 25%, 77%);
    box-shadow: 0 5px 5px hsl(249, 10%, 26%);
}

.form__btn {
    background-color: hsl(154, 59%, 51%);
    color: white;
    border-radius: 0.5rem;
    border: none;
    margin-top: 0.5em;
    padding: 1em 2em;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 3px 1px hsl(154, 59%, 55%);
    text-transform: uppercase;
    font-weight: 500;

}

.form__btn--text{
    margin-top: 1em;
    font-size: 0.75rem;
    font-weight: 500;
}

.form__btn--link{
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    
}

#first-name__error, #last-name__error, #email__error, #password__error {
    text-align: right;
    font-size: 0.75em;
    color: hsl(0, 100%, 74%);
    font-style: italic;
}

@media (min-width: 800px){
    body {
        background-image: url(./images/bg-intro-desktop.png);
        min-height: 100%;
        display: grid;
        place-items: center;
        min-height: 100vh;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        vertical-align: center;
    }

    .flex {
        display: flex;
        justify-content: space-around;
    }

    .col__left{
        align-self: center;
        width: 50%;
    }

    .col__right { 
        width: 40%;
    }

    .lead {
        text-align: left;

    }

    .lead__heading{
        font-size: 3rem;
    }

    .lead__text{
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .trial__btn{
        padding: 1em 2em;
        display: inline-block;
    }
}